<p>
    <mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
            <div fxLayout="row"  fxFlex="60" fxLayoutAlign="start center" >
                <p fxFlex="10">   
                    <span>My Store</span>
                </p>
                <mat-nav-list fxLayout="row" fxFlex="40">
                    <a mat-list-item routerLink="home">Home</a>
                    <a mat-list-item routerLink="product">Products</a>
                    <a mat-list-item routerLink="cart">Cart</a>
                </mat-nav-list>
            </div>
            <div class="demo-section" fxFlex="10">
                <a class="link" routerLink="/cart">
                <mat-icon [matBadge]="count" matBadgeColor="warn">shopping_cart</mat-icon>
               </a>
              </div>
        </div>
       </mat-toolbar>
  </p>